.header {
    height: 4rem;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
    transition: background-color 0.4s ease;
}

@media screen and (max-width: 576px) {
    .header {
      height: 80px;
    }
}