.heroSection {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection h1 {
  font-size: 5vw;
  font-weight: 900;
  margin-bottom: 100px;
}

.heroSection img {
  margin-top: 120px;
  
  width: 300px;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .heroSection {
    margin-top: 80px;
  }
  .heroSection img {
    width: 65vw;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .heroSection h1 {
    font-size: 8vw;
  }
}
