.heroSection {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection img {
  margin-top: 120px;
  width: 500px;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .heroSection {
    height: 80vh;
  }
  .heroSection img {
    width: 90vw;
    height: auto;
    margin-bottom: 10px;
  }
}
