/* .card_container {
    height: auto;
    max-width: 680px;
    width: 90%;
    border-radius: 16px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch; 
    transition: height 0.5s ease-in-out; 
}

.card_container_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card_container_top_left {
    font-size: 17.5px;
    width: 95%;
}

.answer_container {
    background-color: #ced7db;
    border-radius: 16px;
    margin: 20px 0px 0px 0px;
    padding: 15px;
    font-size: 17.5px;
}

.card_container_drop_down {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 3%;
}

.card_container_drop_down button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.card_container_drop_down img {
    height: 100%;
    width: 100%;
} */

/* .card_container_text_area {
    display: flex;
    align-items: center;
    width: 85%;
    font-size: 25px;
    padding: 0 20px;
    margin: 10px 0;
}

.card_container_text_area.opened {
    flex-direction: column;
    align-items: flex-start;
} */

.card_container {
    border: 1px solid #e8e8e8;
    border-radius: 1rem;
    padding: 0.7rem 0.75rem 0.7rem 1rem;
    margin-bottom: 1rem;
    width: 60%;
    box-sizing: border-box;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18.25px;
}

.toggle_button {
    background-color: transparent;
    border: none;
}

.answer {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 17px;
}

.answer.opened {
    margin: 5px 0;
}

@media screen and (max-width: 992px) {
    .card_container {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .card_container {
        width: 85%;
    }
}

@media screen and (max-width: 576px) {
    .card_container {
        width: 97.5%;
    }
}
