.team_page_holder{
    margin: 4% 3%;
    padding: 25px 0;
    font-family: "poppins";
}

.team_page_holder h1{
    text-align: center;
}
.team_page_holder h1 span{
    color: red;
}

/* Team Page Image */
.team_page_image_main{
    margin: 20px 0;
    align-items: center;
    text-align: center;
}
.team_page_image_main img{
    width: auto;
    height: 50vw;
    border-radius: 10px;
}

/* Team Filter Holder */
.team_filter_holder{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Team Grid */
.team_grid_holder{
    margin: 1% 0%;
}
.team_grid_top{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
    width: 100%;
}
.team_grid_top hr{
    background-color:#063143;
    border: 0;
    width: 15%;
    height: 1.5px;
}
.team_grid_top h2{
    font-style: italic;
    color: #063143;
    font-size: 26px;
}

/* Secy */
.team_grid_list{
    display: grid;
    justify-content:space-between;
    grid-template-columns: 25% 25% 25% 25%;
}


/* Mobile View */
@media screen and (max-width: 1171px){
    .team_page_holder{
        margin: 7% 2%;
    }
    .team_page_holder h1{
        font-size: 26px;
    }
    .team_page_image_main img{
        height: 60vw;
    }
    .team_grid_list{
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 858px){
    .team_page_holder{
        margin: 7% 2%;
    }
    .team_page_image_main img{
        height: 65vw;
    }
    .team_grid_list{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 602px){
    .team_page_holder{
        margin: 14% 2%;
    }
    .team_page_image_main img{
        height: 70vw;
    }
    .team_grid_list{
        grid-template-columns: 100%;
    }
    .team_grid_top{
        column-gap: 25px;
    }
    .team_grid_top hr{
        width: 10%;
    }
    .team_grid_top h2{
        font-size: 22px;
    }
}