.team_page_holder{
    margin: 4% 3%;
    padding: 25px 0;
    font-family: "poppins";
}

.team_page_holder h1{
    text-align: center;
}
.team_page_holder h1 span{
    color: red;
}

/* Team Page Image */
.team_page_image_main{
    margin: 20px 0;
    align-items: center;
    text-align: center;
}
.team_page_image_main img{
    width: auto;
    height: 700px;
    border-radius: 10px;
}

/* Team Filter Holder */
.team_filter_holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.team_filter{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.team_filter button{
    width: 23%;
    height: auto;
    border: 0;
    background-color: lightgray;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 35px;
}
.team_filter button:hover{
    background-color: red;
    color: white;
}

/* Team Grid */
.team_grid_holder{
    margin: 5% 0%;
}
.team_grid_top{
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: space-between;
    width: 99%;
}
.team_grid_top hr{
    background-color:#063143;
    border: 0;
    width: 82%;
    height: 2px;
}
.team_grid_top h2{
    font-style: italic;
    color: #063143;
    font-size: 34px;
}

/* Secy */
.team_grid_secy{
    display: grid;
    justify-content:space-between;
    grid-template-columns: 20% 20% 20% 20%;
}

/* Team Members */
.team_grid_top_members{
    margin-top: 45px;
}
.team_grid_top_members hr{
    width: 75%;
}

.team_grid_members{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
    row-gap: 40px;
    text-align: center;
}
.team_grid_members_head{
    font-weight: bold;
    font-size: 20px;
    color: red;
}